# In .dockerignore

# Exclude everything

#

*

# Now un-exclude

#

!src
!compile_protos.py
!dynamic_dependencies.py
!dataclay-common
!requirements.txt
!requirements-legacydeps.txt
!pyproject.toml
!README.md
!MANIFEST.in
!tests
!tox.ini
.dockerignore
