# In .dockerignore
# Exclude everything:
#
*

# Now un-exclude:
#
!src
!compile-protos.sh
!dataclay-common
!requirements-legacydeps.txt
!requirements-dev.txt
!pyproject.toml
!README.md
!MANIFEST.in
!tests
!tox.ini
.dockerignore
