virtualenv*
build/
_build/
deploy/
dist/
dataclay.egg-info/
*.pyc
MANIFEST
.cache/
dataclay.backup
.pytest_cache
test_scripts/cfgfiles
tests/mock/client.properties
.pyenv*
/setup.py.orig
/.project
.tox
*__pycache__*
/.idea/
/venv*/
/pyclay.iml
/.vscode
