language: python
python:
- '3.6'
- '3.7'
install:
- pip install -r requirements.txt
- pip install .
script:
- pytest
stages:
- name: after_deploy
  if: branch = master
before_install:
- openssl aes-256-cbc -K $encrypted_8ebb1ef83f64_key -iv $encrypted_8ebb1ef83f64_iv
  -in github_deploy_key.enc -out github_deploy_key -d
after_success:
- $(npm bin)/set-up-ssh --key "encrypted_8ebb1ef83f64_key" \ --iv "$encrypted_8ebb1ef83f64_iv"
  \ --path-encrypted-key ".travis/github_deploy_key.enc"
- export GIT_TAG=$(cat VERSION.txt)
- git tag $GIT_TAG -a -m "Generated tag from TravisCI build $TRAVIS_BUILD_NUMBER"
- git push origin $GIT_TAG
deploy:
- provider: pypi
  user: __token__
  server: https://test.pypi.org/legacy/
  distributions: sdist bdist_wheel
  skip_existing: true
  on:
    branch: develop
  password:
    secure: CTuFiBybWGK63YEvLmYRr3xVwf2Qc/CrAy6BZv0qVsg3dhwUchcCt5XpkLAbuM6RYW8vMqf4S/Oq04TGlGvjeSyO2Bfcp9vJBrU4MY63O5W61UgVZixL8UE6cFFGctJ7+JfUqjGIMZKDy8Qj6us7rhnKpdXGc8NWEzdCYBInOTaY9wO0zM3zL11VTF2T7dZ0s7pJy8tnAeUI1Nkc57m/JCCe1OheYEIl9wC3GlPAKSvRCEA9a5eGa1EHchMfCFdcHlXSEFxEcAl7Y+UkZp2nI//Ym9Fdv3dN1c+hh7/8gCWz0d5PPPpbeeqTx0DhOnpbVsooKdK2cSiaXCdAucwnLOZpUjhwIQUroDpbDcF+NinyJBc5c+E3KxkHyRiX+9HgB+4pmf8j24C3n7CTI+f5KZoFpg/uRp4LjNamdUUiGYoPw+rajmW4gh/5CC4wSa4t07Jw/v8U14pJnYM2Anb+FMYOhkZRtSZBvGEpZC9KNHuHeLIUCBn35NIEvvNNimRR+tZ+nRQiFhTxYB+2PrcXUx3slC/FMRZTfV5QUMxaVNg8oLX3dXIwqGLNQXlOv52lgFQkS1Sp6ioXRMurzGYh5tzKdiAx/6B1oF/Xq8NQBmNh2B840YlS+ODG5bNsVhhp0DQf71NJ5m3W+Uv70LaqBPdcHdYIrFyd9Fz7HS6XlGo=
- provider: pypi
  user: __token__
  distributions: sdist bdist_wheel
  skip_existing: true
  on:
    branch: master
  password:
    secure: F8LIgT/69wl3XeMvt2bNR2JuYxOtgqe/MNkKWbOA7TreAniMQ3lYEv067sZO5bdcOKBR7VDqzbeCukdYcXr28lUQ8+fG5fO3jRm6INrKKy7Sjn1uJbP+h7HWRAe8tUeG0eLjfKnZVpYJH/Tif3LCRzza1hnKGVCDvKTgbplRumj8AGEOmwH+bQY+FltvIg8sUU1F0Zf3h0VmzXofW7szAULX5M9kAsMnLnDbNsleDUSnVsyBA26ARXCVB59kK2461wvoh/zbB0XulE7YwRNfqHAm2p5YhJ4ydHlHXzqZAe14MOgNtujYoRkeTdlXX3AN7ZLl4hktjVAUNv/O/VOEAtSEHwZLIhxciGEZb5Zs5NMzv3nx9/Fyu21zvH1CXVOLV7QFGpbpTpj4ljGA0gQrNyEVLit7YJgLxDjQku4678byLVvVldu+wOANpuapCsDLisggAZXyQpJgXZS6REj7j1Yff+AG46GK89EhKF0Z0KcR3SjXRgIiO1KohehwluHAAlzzyzyGxJ1RBch6KwOo9LmfYdbJXQiR/Dj8LM5d82vBZ4yOTE5ONLTyR0soJ6WVwGhpe4WL14HFRf1GnHW5wgQpUKWLarS/Z8sDt3Bkk0fcUtskaPO/9hiUJ8hHCIz2o4r7fzswL8ZpNbEqsmya95XCZRBHAfLHTcp2uH3oY2I=
env:
  global:
  - secure: eGnOVaBuwogfUn/PS4TOiloe04vCO4/R6bKw0n6HM4kUTVVPfDGq67cTBj2Qn+sC0Vc2wns8Qxl75QJpsp44fw5wOjbx85+xbkUaYZIRRbFbOcBL2FjgcjICyVtOTLcef6EOQptPryenRRQBmwms7ccdmIcjtWOUPb0qdApoqJwyfP9Li3GBK15tIXQx8VJT7TI1AwxLHVmwwLwLQmZG5Tb7afUiNkPm4CNbGLE6TDZEWiOoqhvWUhM8k8hQw1HgtOFoNlHgD6aFxmrVuzFMiaPELwfLJJ9KWH6lKEotIhjUMBruvPKA/FK9c6sC5UPbzTcClPlSlIoAmgqsJz1LRiw/FlhmeGH9pSq7QFyIv5D1pSD9mLq4R07ondImI2mETCm/0BF/UO41P6Xs16HEMshnd5dyzvawA81qQTHCmsHQBlxDzw+bgebV1uhHWgtbEb2pmVYVw6GD4V42+pQXHlCijk1teQuuSHBDk4/GK7Ig3UBCH/+vQj0iOyp8TQ9dy4AcVZCBIoIEp9WnRa8Oyt8hTt3r3BVyfu5nnDOYrxK+vAuh8ouoqMJUyCAA9FEDApAx81c8npKOZp5hdjrtOMybALquCbuCTp9djYWT8UBDHxBkoPP/IO4VWbMJHttuD8P4IkT4lZfiqqwcKD3uvBt/p5yZl05KDxK1DQn1/tY=
  - secure: iP3w5cLWrVqRQKQBlIO6uZoP3eykuPiJr4vvsjKj/0AITZk42j2yhPxoIDB63j5pC8ljb3Rqw12R0QGuVzg8YySGl9bd5JEgIbugSMtnH34Dbi6sG/W8JpCPSKmE/ei43CSiXz/nZpwuUhVdO8Zm/bdELQEQnQhH1ssxhnbP5yOSoyq4QqsR0QwfdULotyX9IMOIaqbJ4G1xbf/rPl0S28LC6g4tHTqE0QzA7YCGuim1PPOmSjB7BtxuxzvjOsJp6pu0ZhOeUxTIbVkrhZWmvS22fNgKPCxCcKqnBT3fvBVVMTS2Fh3IAA//2NAL8d0JlmrwhYQcneBvPjuQFfNiNThkNhG/j7Ge9R+gKnMTd7wceJg9/9rZNoRNneQ4SRVVdRRCftCOmIRNCsGGMqqVbCDvOeyKGMtcXzVnc1itcWdcNsgsmIphkPC+jQjzwrl0RuZ3YovkxvXa6xOdU8pJktcCPzmRe9Uf9lBgdd0QlygbVRCBaGNm6CynqCFnoUTa9gZeJ0BYcve2416cxYtIVU4pKP01W8yjI8lYZiZY6Ooqz+KFOoGUB1Agwu23qcVlDApIO0E3lazELfXkyLjwO1QW6mlaJDzXHEFtsFwSFUDa4NfjoX4THPq58Vnm0ZjVLx5CnjQGJA/7XD+w+JvjSMmn1l8epedizuzFLiSGj3E=
