aiorwlock>=1.4.0
bcrypt>=4.1.1
grpcio>=1.67.1
grpcio-health-checking>=1.67.1
hiredis>=3.0.0
opentelemetry-api>=1.28.1
protobuf>=4.25.0
psutil>=6.1.0
pydantic-settings>=2.6.0
redis>=5.1.1
get-annotations;python_version<"3.10"
PyJWT>=2.9.0
threadpoolctl>=3.5.0
