services:

  redis:
    image: redis:latest
    ports:
      - 6379:6379

  metadata-service:
    image: "ghcr.io/bsc-dom/dataclay:dev"
    build:
      context: ../../../
      dockerfile: Dockerfile.dev
    depends_on:
      - redis
      - otel-collector
    ports:
      - 16587:16587
    environment:
      - DATACLAY_KV_HOST=redis
      - DATACLAY_TRACING=true
      - DATACLAY_TRACING_EXPORTER=otlp
      - DATACLAY_SERVICE_NAME=metadata
      - DATACLAY_TRACING_HOST=otel-collector
    command: python -m dataclay.metadata
    volumes:
      - ../../../:/app:ro

  backend:
    image: "ghcr.io/bsc-dom/dataclay:dev"
    depends_on:
      - redis
      - otel-collector
    environment:
      - DATACLAY_KV_HOST=redis
      - DATACLAY_TRACING=true
      - DATACLAY_TRACING_EXPORTER=otlp
      - DATACLAY_SERVICE_NAME=backend
      - DATACLAY_TRACING_HOST=otel-collector
    command: python -m dataclay.backend
    volumes:
      - ../../../:/app:ro

  otel-collector:
    image: otel/opentelemetry-collector:latest
    command: [ "--config=/etc/otel-collector.yaml" ]
    volumes:
      - ./otel-json-exporter.yaml:/etc/otel-collector.yaml
      - ./traces/:/traces/

