services:

  redis:
    image: redis:latest
    ports:
      - 6379:6379

  metadata-service:
    image: "ghcr.io/bsc-dom/dataclay:dev"
    build:
      context: ../../
      dockerfile: Dockerfile.dev
    depends_on:
      - redis
    ports:
      - 16587:16587
    environment:
      - DATACLAY_KV_HOST=redis
      - DATACLAY_KV_PORT=6379
      - DATACLAY_PASSWORD=s3cret
      - DATACLAY_USERNAME=testuser
      - DATACLAY_DATASET=testdata
      - DATACLAY_METADATA_PORT=16587
      - DATACLAY_LOGLEVEL=DEBUG
      - DATACLAY_METRICS=true
      - DATACLAY_METRICS_EXPORTER=http
      # - DATACLAY_METRICS_HOST=pushgateway
      - DATACLAY_METRICS_PORT=8000
    command: python -m dataclay.metadata
    volumes:
      - ../../:/app:ro

  backend:
    image: "ghcr.io/bsc-dom/dataclay:dev"
    depends_on:
      - redis
    ports:
      - 6867:6867
    environment:
      - DATACLAY_KV_HOST=redis
      - DATACLAY_KV_PORT=6379
      - DATACLAY_BACKEND_PORT=6867
      - DATACLAY_LOGLEVEL=DEBUG
      - DATACLAY_METRICS=true
      - DATACLAY_METRICS_EXPORTER=http
      # - DATACLAY_METRICS_HOST=pushgateway
      - DATACLAY_METRICS_PORT=8000
    command: python -m dataclay.backend
    volumes:
      - ../../:/app:ro

  prometheus:
    image: prom/prometheus:latest
    command:
      - --config.file=/etc/prometheus.yaml
      - --web.enable-remote-write-receiver
      - --enable-feature=exemplar-storage
    volumes:
      - ./config/prometheus.yaml:/etc/prometheus.yaml
    ports:
      - "9090:9090"

  pushgateway:
    image: prom/pushgateway:latest
    ports:
      - "9091:9091"

