name: Tests

on:
  - push
  - pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install tox tox-gh-actions
          # TODO: when calling pytest, it build a new dev image, but it should build the image
          # using the specific python version. Before it was working cause the compose was not
          # building the image, rather the image was built here with the {{ matrix.python-version}}
      - name: Test with tox
        run: tox
